/* DECLARANDO VARIAVEIS */ 
:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #3c92fa;
}
/* CONFIGURANDO O CORPO DO SITE*/ 
body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
/* DEFINIDO MARGEM INTERNA E EXTERNA COMO 0 */ 
* {
    margin: 0;
    padding: 0;
}
/* DEFINIDO IMAGEM DE FUNDO E ALINHANDO OS CONTEUDOS AO CENTRO */ 

.principal {
    background-image: url("../img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}
/* DEFINIDO SISTEMA DE GRIDE EM 2 PARTES DE 50% */ 

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

